* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color1: RGB(81, 139, 144);
  --color2: RGB(65, 179, 95);
}

/* 518b90 */
/* 41b35f */


body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body::-webkit-scrollbar {
	width: 8px;
	background: var(--color1);
}

body::-webkit-scrollbar-thumb {
	background: RGB(65, 179, 95);
	border-radius: 10px;
}

.navBar{
  background: var(--color1);
  font-size: 20px;
}

.btn-home{
  background: RGB(81, 139, 144);
  border: none;
  font-size: 30px;
  width: 400px;
  border-radius: 35px;
  padding: 10px;
}

.btn-home:hover{
  background: RGB(65, 179, 95);
}

.sidebar{
  min-height: 100vh;
  color: white;
  height: 100vh;
  width: 200px;
}

.logo{
  padding: .875rem 1.25rem;
}

.menu{
  width: 18rem;
  display: flex;
  flex-direction: column;
}

.footer{
  background: var(--color1);
  margin-top: auto;
}

.colFooter{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}