* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color1: RGB(81, 139, 144);
  --color2: RGB(65, 179, 95);
}

body{
  overflow: hidden;
}

.navBar{
  background: var(--color1)
}

.btn-home{
  background:rgb(92, 90, 90);
  border: none;
  font-size: 30px;
  width: 400px;
}

.sidebar{
  min-height: 100vh;
  color: white;
  height: 100vh;
  width: 200px;
}

.logo{
  padding: .875rem 1.25rem;
}

.menu{
  width: 18rem;
  display: flex;
  flex-direction: column;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap{
  flex: 1;
}

.footer{
  background: var(--color1);
  bottom: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100%;
  padding-top: 2em;
  position: relative;
  width: 100%;
}

.colFooter{
  display: flex;
  flex-direction: column;
}